<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fc034e;">
  <%= link_to 'Study Portal', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to 'Home', courses_path, class: "nav-link #{current_page?(courses_path) ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Map Search', map_search_universities_path, 
            class: "nav-link #{controller_name == 'universities' && action_name == 'map_search' ? 'active' : ''}", 
            data: { turbo: false } %>
      </li>
   
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item me-3">
        <div class="dropdown" data-controller="currency">
          <button class="btn btn-link nav-link dropdown-toggle" type="button" id="currencyDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-action="click->currency#toggleDropdown">
            <i class="fas fa-money-bill-wave"></i>
            <%= session[:currency] || 'USD' %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
            <% %w[USD GBP CAD EUR AED SGD AUD NZD JPY CHF THB MYR CNY HKD INR].each do |currency| %>
              <li>
                <%= form_tag set_currency_path, method: :post, data: { turbo: false } do %>
                  <%= hidden_field_tag :currency, currency %>
                  <%= button_tag currency, 
                      class: "dropdown-item #{'active' if session[:currency] == currency}",
                      data: { action: "currency#update" } %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% if current_user.present? %>
        <li class="nav-item">
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-light mr-5" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
